# SPDX-License-Identifier: GPL-2.0-or-later
#
# Copyright (C) 2024 Oracle.  All rights reserved.
# Author: Darrick J. Wong <djwong@kernel.org>
#
# Start autonomous self healing automatically
ACTION=="add", SUBSYSTEM=="xfs", ENV{TYPE}=="mount", RUN+="xfs_scrubbed_start"
